*{
    margin: 0;
    padding: 0;
}

body{
    
font-family: 'Poppins', sans-serif;
}

/* Banner Section */

#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#009688) ,url(img/banner.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

#logo{
    width: 140px;
    position:absolute;
    top: 4%;
    left: 7%;
}

.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
    
}

.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
    
}

#banner-btn{
    margin: 70px auto 0;
}

#banner-btn a{
text-decoration: none;
margin: 0 10px;
display: inline-block;
padding: 12px 0;
width: 150px;
color: white;
border: 2px solid white;
position: relative;
z-index: 1;

}

#banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;   
}
#banner-btn a:hover span {
    width: 100%;
}

#banner-btn a:hover {
    color: black;
    
}

/* Side Navigaion */

#side-nav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    background-color: #009688;
    transition: 0.5s;
}

#side-nav nav ul li{
    list-style-type: none;
    margin: 50px 20px;
}


#side-nav nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menu-btn{
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #009688;
    text-align: center;
    right: 4%;
    top: 4%;
    z-index: 3;
    cursor: pointer;
    border-radius: 3px;
}

#menu-btn img{
    width: 20px;
    margin-top: 15px;
    /* margin-right:15% ; */
    
}


/* Features */

#features{
    width: 100%;
    padding: 20px 0;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p{
    font-size: 20px;
    font-weight: bold;
    color: #009688;
    margin: auto;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top:-20px;
    left:0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px;
}

.title-text h1{
    font-size: 50px;
}

#feature-box{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;
    margin: auto;
}

.features-img{
    flex-basis: 50%;
    margin: auto;
}

.features-img img{
    width: 70%;
    border-radius: 10px;
    box-shadow: 10px 7px 35px -7px rgba(111,111,115,1);

}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color:#009688;
}

.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#feature-icon .fa-solid{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}

#feature-text{
    padding: 0 20px ;
    text-align: left;
}

/* Serviecs */

#service{
    width: 100%;
    padding: 70px 0;
    background-color: #efefef;

}

#service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}

.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    color: white;
    margin: 10px 0;
    position: relative;
}


.single-service img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 10px 7px 35px -7px rgba(111,111,115,1);
}

.overlay{
    background:linear-gradient(rgba(0,0,0,0.5),#009688);
    width:100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    border-radius: 8px;
    opacity: 0;
    transition: 0.5s;
}

.single-service:hover .overlay {
    opacity: 100%;
}


.service-desc{
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
    opacity: 0;
    transition: 0.5s;
}

.single-service:hover .service-desc{
    opacity: 100%;
    bottom: 40%;
}


.service-desc hr{
    width: 60%;
    margin: 15px auto;
    border: 0;
    height: 2px;
    background-color: #fff;
}


.service-desc h3{
    font-size: 45px;
}


/* Testimonial section */

#testimonial{
    padding-top: 40px;
}

.testimonial-row{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    align-items: flex-start;
}

.testimonial-col{
    flex-basis: 28%;
    box-shadow: 0 10px 20px 3px #00968814;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.testimonial-col:hover{
    transform: translateY(-7px);
}


.testimonial-col p{
    font-size: 14px;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3%;
}

.user-info .fa-solid {
    color:rgb(0, 177, 253);
}

.user-info small{
    color: rgb(40, 39, 38);
}


/* Footer section */

#footer{
    padding: 50px;
    background: #efefef;
    position: relative;
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left , .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}

.footer-row h1{
    margin: 10px 0;
    
}

.footer-row p{
    line-height: 35px;
    
}

.footer-left i, .footer-right i{
    color:#009688 ;
    margin: 10px;
    font-size: 20px ;
}


#footer-img{
    max-width: 375px;
    position: absolute;
    opacity: 0.1;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.social-links{
    text-align: center;

}

.social-links i{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: 0.5s;
}

.social-links i:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);

}
.social-links p{
    margin-top: 20px;
}







/* Media queries */

@media screen and (max-width:770px){
    .banner-text h1{
        font-size:44px ;
    }
    #logo{
        left: 10%;
    }

    #menu-btn{
        right:10%
    }
    #banner-btn a{
        display: block;
        /* text-align: center; */
        margin: 20px auto;
        padding: 6px 0;
    }

    .title-text h1{
        font-size:35px ;
    }

    .features , .features-img{
        flex-basis: 100%;
    }

    .features-img img{
        width: 100%;
    }

    .single-service{
        flex-basis: 100%;
    }

    .service-desc h3{
        font-size: 25px;
    }

    .service-desc p{
        font-size: 15px;
    }
    
    .single-service:hover .service-desc{
        bottom:25%;
    }
    
    .testimonial-col{
        flex-basis: 100%;
        padding:  30px ;
    }

    #footer{
        padding: 15px;
    }
    
    .footer-left , .footer-right{
        flex-basis: 100%;
        text-align: center;
        
    }

    .footer-left , .footer-right p{
        font-size: 13px;
        
    }
    

    #footer-img{
        max-width: 375px;
        position: absolute;
        opacity: 0.1;
        top: 15%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }
}


